body {
    background: black;
    overflow: hidden;
}

h1 {
    position: absolute;
    animation: expandText 1s;
    width: 100%;
    text-align: center;
    margin-top: 28vh;
    justify-content: center;
    font-weight: bold;
    font-size: calc(100% + ((32vw + 32vh)/2));;
    font-family: Inconsolata, serif;
    color: white;
}

h2 {
    position: absolute;
    animation: expandText 2s;
    margin-top: 80vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(100% + ((3vw + 3vh)/2));;
    font-family: Inconsolata, serif;
    color: white;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: calc(100% + ((16vw + 16vh)/2));;
    }
    h2 {
        margin-top: 50vh;
        text-align: center;
        font-size: calc(100% + ((1.5vw + 1.5vh)/2));;
    }
}

@keyframes expandText {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}